.main{
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #27292D;
}
.mainTwo{
    color: white;
    margin: 0 10%;
}
.mainThree{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}
.leftDiv{
    width: 50%;
}
.leftDiv a{
    margin-right: 10px;
}
p{
    margin: 3px !important;
}
.RightDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.RightDiv div{
    margin-right: 30px;
}
h5{
    margin-bottom: 50px !important;
}
hr{
    border-top: 1px solid rgb(255, 255, 255) !important;
    margin-top: 50px !important;

}
.leftDiv img{
    width: 20px;
}

@media only screen and (max-width: 700px) {
    .mainThree {
      flex-direction: column;
    }
    .RightDiv{
        margin-top: 30px;
    }
  }

  @media only screen and (max-width: 419px) {
    
    .RightDiv{
        flex-direction: column;
    }
    h5{
        margin-top: 50px !important;
        margin-bottom: 10px !important;


    }

  }