.main{
    background-color: #101D49;
    padding-top: 100px;
    padding-bottom: 100px;

}
.Sideitems{
    text-align: center;
    color: white;
    margin: 0 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media only screen and (max-width: 790px) {
    .Sideitems {
      flex-direction: column;
    }
  }