


.mainNav{
	overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;

}
.xyz{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  background-color: rgb(24, 10, 58);
}
.bg{
	padding-bottom: 20px !important;
	background-color: rgb(0, 0, 0) !important;
}
